EMISGroup_Test/EMISUnitTestProject/bin
EMISGroup_Test/EMISUnitTestProject/obj
EMISGroup_Test/EMISGroupConsoleApp/.vs
EMISGroup_Test/EMISGroupConsoleApp/obj/Debug
EMISGroup_Test/EMISGroupConsoleApp/obj
EMISGroup_Test/EMISGroupConsoleApp/bin
